<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is Home Page</h1>
    <h2>Author : {{author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>List : {{p_list}}</h2>


    {{p_list}}
    <h1>{{ p_list | join:" - " }}</h1>
    <h1>{{ Birthday | date:"D d M Y" }}</h1>
    <h1>{{ 'Python is very Fun' | cut:" " }}</h1>
    <h1>{{ val | length }}</h1>
    <h1>{{ 'Happy coding. Python is Fun'| truncatewords:3  }}</h1>

    <!-- Conditional Statement -->
    {% if age >= 20 %}
    <h4>You will Get Driving License</h4>
    {% elif age >= 10 and age <= 19 %} <h4>You will Not Get Driving License</h4>
        {% else %}
        <h4>You are a Child</h4>
        {%endif%}

        <!-- For Loop -->
        {% for i in courses %}
        <h3> id : {{i.id}}, Course name: {{i.name}}, Total fees: {{i.fee}}</h3>
        {% endfor %}



</body>

</html>