body{
    background-color: white;
}


.log-in-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 75%;
    margin: auto;
}
.input{
    padding: 15px 25px;
    border: none;
    margin: 10px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 5px;
}

.submit-btn{
    padding: 15px 25px;
    width: 85%;
    margin: 10px 0;
    border: none;
    background-color: rgb(0, 158, 158);
    color: white;
    border-radius: 10px;
}
